.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #093030;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: calc(100% - 100px); /* Adjust width to account for side navbar width */
    top: 0;
    left: 100px; /* Adjust left to account for side navbar width */
    z-index: 1000; /* Ensures it stays on top of other content */
    box-sizing: border-box;
    transition: left 0.3s ease; /* Smooth transition for left property */
}

.navbar.expanded {
    left: 250px; /* Adjust left for expanded side navbar */
}

.welcome h1, .welcome p {
    margin: 0;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    margin-top: 60px; /* Adjust this if needed based on the height of your navbar */
}
