.home {
  background-image: url(https://res.cloudinary.com/degnky4ab/image/upload/v1721123399/wwulf5pdqb9jzprdplfy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // width: 978.71px;
  width: 44vw;
  height: 672px;
  top: -41px;
  left: -133px;
  gap: 0px;
  opacity: 0px;
  color: #093030;
}
.logo1 {
  width: 100px;
  height: 150px;
  top: 105px;
  left: 105px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  margin: 4rem;
}
.logo2 {
  width: 200px;
  height: 200px;
  left: 132px;
  gap: 0px;
  opacity: 0px;
  margin-left: 6rem;
  margin-top: -2rem;
}
.text1 {
  color: #093030;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-left: 4rem;
  margin-top: 1rem;
  line-height: 2.5rem;
}
.FAQ {
  text-decoration: none;
  margin-left: 4rem;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 77px;
  text-align: left;
}
.FAQ a {
  text-decoration: none;
  border: none;
  border-radius: none;
  color: #093030;
}