/* Profile.css */

.profile-container {
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
  }
  
  .profile-banner {
    height: 150px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .profile-initial {
    font-size: 36px;
    color: #000;
  }
  
  .profile-details {
    flex: 1;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-email {
    font-size: 18px;
    color: #666;
  }
  
  .banks-section {
    margin-top: 40px;
  }
  
  .banks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .add-bank-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .add-bank-text {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .banks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .bank-card-wrapper {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .bank-card-wrapper.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .bank-card-wrapper.add-new i {
    font-size: 36px;
    color: #333;
  }
  
  .bank-card-wrapper.add-new:hover {
    background-color: #f9f9f9;
  }
  
  @media (max-width: 768px) {
    .banks-container {
      flex-direction: column;
    }
    .bank-card-wrapper {
      width: 100%;
      margin: 10px 0;
    }
  }