/* src/css/signin.css */

.signin-container {
  display: flex;
  min-height: 600px;
  background-color: var(--neutral-color);
  color: var(--text-color);
}

.signin-form,
.signin-image {
  width: 50%;
}

.signin-form {
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.signin-header {
  text-align: left;
  margin-bottom: 20px;
}

.signin-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.signin-header p {
  color: var(--text-color);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.forgot-password {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--accent-color);
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  margin-bottom: 10px;
}

.btn-primary:hover {
  opacity: 0.9;
}

.signup-prompt {
  text-align: center;
  margin-top: 20px;
}

.signup-prompt a {
  color: var(--accent-color);
  text-decoration: none;
}

.signup-prompt a:hover {
  text-decoration: underline;
}

.signin-image {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.signin-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
